body{
  margin: 0;
}

.wrapper{
  margin:auto;
  width: 76%
}

.header{
  display:flex;
  justify-content:space-between;
  margin-bottom: 130px;
}

.logo{
  position: relative;
  margin-right: 70%;
  padding: 35px 5px;
  padding-left: 39px;
  font: bold 19px/19px PT Serif, arial, helvetica, sans-serif;
  width: 220px;
  height: 31px;
}

.logo__circle{
  position: absolute;
  left: 0;
  top: 45px;
  transform: translateY(-60%);
  width: 22px;
  height: 22px;
}

.logo__circle_color_dark-blue{
  background: #0056EC;
  border-radius: 50%;
}

.logo__circle_color_blue{
  left: 8px;
  top: 51%;
  background: #C8DBFB;
  border-radius: 50%;
  opacity: .7;
}

.menu{
  display:flex;
  align-items:center;
  padding: 1px 10px 9px 81px ;
}

.menu__item{
  position: relative;
  margin: 10px 0 10px 0;
  margin-right: 23px;
  font: 700 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration:none;
  min-width: max-content;
}

.menu__item:last-child{
  margin: -right: 0;
}

.menu__item:hover{
  opacity: 0.5;
}

.menu__item:after{
  position: absolute;
  left: 0;
  display:block;
  content:'';
  width: 0;
  height: 3px;
  background: #0056EC;
  transition: opacity.5s; width .5s;
}

.menu__item:hover:after,.menu__item_active:after{
  opacity: 1;
  width: 100%
}

.main{
  padding: 0 48% 246px 0;
  background: no-repeat url(img/mainImg.svg);
  background-size: 160% 100%;
  background-position: 120px 0px;
}

.main__title{
  margin: 153px 24px 0 1px;
  font: bold 54px/67px PT Serif, arial, helvetica, sans-serif;
}

.main__subtitle{
  margin: 37px 112px 23px 2px;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
}

.main__button{
  display: inline-block;
  margin: 10px 11px 10px 0;
  font: 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 15px 34px;
  padding-left: 21px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover{
  opacity: .5s;
}
