body {
  margin: 0;
}

.wrapper {
  margin-right: 190px;
  margin-left: 153px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 102px;
}

.logo {
  position: relative;
  padding: 46px 7px;
  padding-left: 87px;
  font: bold 24px/18px PT Serif, arial, helvetica, sans-serif;
  width: 220px;
  height: 48px;
}

.logo__circle {
  position: absolute;
  left: 43px;
  top: 57px;
  transform: translateY(-60%);
  width: 29px;
  height: 28px;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
  border-radius: 50%;
}

.logo__circle_color_blue {
  left: 51px;
  top: 45%;
  background: #C8DBFB;
  border-radius: 50%;
  opacity: .7;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin: 4px 44px 28px 24px;
  margin-right: 3px;
  font: 700 18px/22px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  min-width: max-content;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  transition: opacity .5s;
}

.menu__item:hover:after,
.menu__item_active:after {
  opacity: 1;
  width: 100%
}

.main {
  padding-top: 125px;
  padding-right: 58%;
  padding-bottom: 122px;
  background: top right no-repeat url(img/mainImg.svg);
}

.main__title {
  margin: -54px 0px 34px 42px;
  font: bold 66px/89px PT Serif, arial, helvetica, sans-serif;
}

.main__subtitle {
  margin: 0px 194px -119px 42px;
  font: 22px/26px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  margin: 162px 155px 45px 43px;
  font: 18px/24px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 15px 35px;
  padding-left: 22px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5s;
}

@media (max-width: 1366px) {
  .wrapper {
    margin-right: 48px;
    margin-left: 174px;
  }

  .header {
    margin-bottom: -11px;
  }

  .logo {
    /* margin-right: 19%; */
    padding: 46px 5px;
    padding-left: 88px;
    font: bold 24px/16px PT Serif, arial, helvetica, sans-serif;
  }

  .menu {
    margin-right: 168px;
  }

  .menu__item {
    margin: 3px 43px 27px 22px;
    margin-right: 5px;
    font: 700 14px/20px Roboto, arial, helvetica, sans-serif;
  }

  .main {
    padding-top: 121px;
    padding-right: 49%;
    padding-bottom: 163px;
    background-size: 837px 445px;
    background-position: 98% 63px;
  }

  .main__title {
    margin: -38px 0px 38px 43px;
    font: bold 50px/65px PT Serif, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    margin: 40px 153px 0px 44px;
    font: 18px/23px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    margin: 41px 132px 18px 44px;
    font: 14px/37px Roboto, arial, helvetica, sans-serif;
    padding: 3px 26px;
    padding-left: 19px;
    /* width: 209px; */
    /* padding: 0px; */
    /* height: 41px; */
  }
}

