@font-face {
  font-family: 'pt_serifbold';
  src: url(/pt_serif-bold-webfont.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'pt_serifbold_italic';
  src: url(/pt_serif-bolditalic-webfont.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'pt_serifitalic';
  src: url(/pt_serif-italic-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_serif';
  src: url(/pt_serif-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
